:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 334px;
  min-width: 320px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
}

.header-title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
}

.header-title-container h1 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header-title-container p {
  margin-top: 25px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header-title-container .header-button {
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 114px);
  background-color: var(--off-white);
  display: block;
  width: 229px;
  height: 48px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
}

.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  padding: 80px 0 30px;
  text-align: center;
}

.main-exchange-container--title {
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 900px;
}

.background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px;
  background-image: url("../assets/img/Bitcoin.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-exchange-container--title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--warm-black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #757575;
}

.main-tables-container {
  height: 400px;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0 30px;
}
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 20px;
  font-family: "Inter", sans-serif;
  scroll-snap-align: center;
}
.currency-table--titile {
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: var(--bitcoin-orange);
  text-align: left;
  margin-left: 6%;
}
.currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: var(--grey);
  background-color: var(--just-white);
}

/*-------------------------------------------------*/

.main-commissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  scroll-snap-align: center;
}
.commissions-table--titile {
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: var(--secondary-blue);
  text-align: left;
  margin-left: 6%;
}
.commissions-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.commissions-table--container table {
  width: 100%;
  height: 100%;
}

.commissions-table--container td {
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: var(--grey);
  background-color: var(--just-white);
}

.table__top-left {
  border-radius: 15px 0 0 0;
}
.table__top-right {
  border-radius: 0 15px 0 0;
}
.table__bottom-left {
  border-radius: 0 0 0 15px;
}
.table__bottom-right {
  border-radius: 0 0 15px 0;
}
.main-commissions-table .commissions-table--container .table__right {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: normal;
  color: #757575;
}
.main-currency-table .currency-table--container .table__right {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: normal;
  color: #757575;
}

.down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-up.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.table--date {
  width: 190px;
  height: 30px;
  margin: 15px auto 0;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.table--date.commission {
  background-color: var(--soft-blue);
}
.table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
  font-weight: 300;
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("../assets/icons/batata.svg");
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 50px auto 0;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  color: var(--just-white);
  font-weight: bold;
  line-height: 2.6rem;
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-width: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product--card-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product--card-icon.clock {
  background-image: url("../assets/icons/clock.svg");
}
.product--card-icon.eye {
  background-image: url("../assets/icons/eye.svg");
}
.product--card-icon.dollar {
  background-image: url("../assets/icons/dollar-sign.svg");
}
.product--card-icon.check {
  background-image: url("../assets/icons/check-circle.svg");
}

.product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: var(--just-white);
}
.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  background-image: url("../assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  height: 60vh;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--just-white);
  text-align: center;
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto 50px;
}
.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--slider {
  margin-right: 15px;
  display: flex;
  height: 320px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 15px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomendado {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: bold;
  left: calc(50% - 60px);
  top: -15px;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  border-radius: 8px;
}
.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}
.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  line-height: 6.3rem;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
}
.plan-card--saving {
  font-size: 1.4rem;
  color: #757575;
  font-weight: 500;
  line-height: 1.5rem;
}

.plan-card--ca {
  width: 151px;
  height: 48px;
  margin: 25px auto 0;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--warm-black);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}
.plan-card--ca span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left ul {
  list-style: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.footer-left li {
  margin: 10px 0;
}
.footer-left a {
  color: var(--just-white);
  text-decoration: none;
}
